src/main/webapp/static - 副本/resource/service/service0.xsd

<xs:schema targetNamespace="http://service.test/" version="1.0" xmlns:tns="http://service.test/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>